body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #003366, #330033);
    /* color: #3498db ; */
    color: #f8d87b;/* Set a solid color for text throughout the body */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #2c3e50; /* Attractive dark background color */
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.dictionary {
    text-align: left;
}

h2 {
    color: #2ecc71; /* Attractive green title color */
}

.search {
    margin: 20px 0;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #34495e; /* Darker border color */
    border-radius: 5px;
    width: 60%;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71; /* Attractive green button color */
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60; /* Slightly darker green on hover */
}

.result {
    margin-top: 20px;
}

.definition {
    border: 2px solid #27ae60; /* Attractive green border color */
    padding: 15px;
    margin: 15px 0;
    background-color: #2ecc71; /* Attractive green background color */
    border-radius: 8px;
    display: inline-block; /* Display in the same line */
    max-width: 750px;
}

.part-of-speech {
    border: 2px solid #27ae60; /* Attractive green border color */
    padding: 15px;
    margin: 15px 0;
    background-color: #2ecc71; /* Attractive green background color */
    border-radius: 8px;
    display: inline-block; /* Display in the same line */
    width: calc(50% - 10px); /* Adjust width to fit half of the container */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    color: #fff;
}
